body {
    margin: 10px;
    font-family: Arial, Geneva, Helvetica, sans-serif;
}
h3 {
    color: purple;
}
.vertical-line {
    border-left: 5px solid black;
    height: 200px;
    margin: auto;
}
.game-display {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 300px; /* Or whatever */
}
.player-display {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-evenly
    background-color: lightblue;
}
.player-display-properties {
    margin-left: 10px;
    margin-right: 10px;
}
.cards-display {
    /*flex-direction: row;*/
    height: 300px; /* Or whatever */
    background-color: lightorange;
}
.cards-img {
    width: 200px;  /* Or whatever */ /* cards have aspect ration of 3:2 -> +- 9 cm height and +- 6 cm width */
    height: 300px; /* Or whatever */
    margin: auto;  /* Magic! */
    border-radius: 10px;
}