body {
  margin: 10px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.vertical-line {
  border-left: 5px solid black;
  height: 200px;
  margin: 1em;
}
.game-display {
  display: flex;
  background-color: lightpink;
}
.game-display-properties {
  background-color: lightpink;
}
.player-display {
  display: flex;
  background-color: lightblue;
}
.player-display-properties {
}
.cards-display {
  height: 195px;
  background-color: lightgreen;
  margin: 1em;
}
.cards-img {
  /* cards have aspect ration of 3:2 -> +- 9 cm height and +- 6 cm width */
  width: 130px;
  height: 195px;
  margin: auto;
  border-radius: 10px;
}
.dropbtn {
  /* Dropdown Button */
  background-color: #04aa6d;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.dropdown {
  /* The container <div> - needed to position the dropdown content */
  position: relative;
  display: inline-block;
  margin: 1em;
}
.dropdown-content {
  /* Dropdown Content (Hidden by Default) */
  display: none;
  position: absolute;
  background-color: green;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  /* Links inside the dropdown */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  /* Change color of dropdown links on hover */
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  /* Show the dropdown menu on hover */
  display: block;
}
.dropdown:hover .dropbtn {
  /* Change the background color of the dropdown button when the dropdown content is shown */
  background-color: #3e8e41;
}
.home-buttons {
  /*background-color: #f44336;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 25px;*/

  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.home-buttons:hover {
  opacity: 1;
}
.home-overview {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.home-display {
  display: flex;
  justify-content: space-evenly;
}
.home-games-overview {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.home-game-form {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.home-join-game {
  padding: 20px;
  text-align: center;
}
.home-button {
  padding-top: 15px;
}
.home-text-input {
  padding-bottom: 15px;
}
.game-buttons {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.game-buttons:hover {
  opacity: 1;
}
