body {
    margin: 10px;
}
h3 {
    color: purple;
}
/*.cards-display {
    //width: 30%;
    display: flex;
}
.cards-img {
    //display:inline-block;
    //max-width: 500px;
    //height: auto;
    flex-shrink: 10;
}*/

.cards-display {
  display: flex;
  height: 300px; /* Or whatever */
  background-color: hotpink;
}
.cards-img {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}