<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if game["state"] == "created" or
    game["state"] == "selection_phase" and player_uuid_select_expected and player_uuid_select_expected != player_uuid or
    game["state"] == "turn_phase" and game["character_turn"] and not game["character_turn"] in player_characters %}
    <meta http-equiv="refresh" content="5">
    {% endif %}
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="game-general">
    <div class="game-display">
        <div>
            <p><strong>Round</strong>: {{ game["round"] }}</p>
            <p><strong>State</strong>: {{ game["state"] }}</p>
            <p><strong>Character turn</strong>: {{ game["character_turn"] }}</p>

            {% if host and game["state"] == "created" %}
            <form action="{{ url_for('start_game', game_uuid=game['uuid'], player_uuid=player_uuid) }}" method="post">
                <div class="home-button">
                    <input type="submit" name="start" value="Start" class="game-buttons"/>
                </div>
            </form>
            {% endif %}

            {% if not host and game["state"] == "created" %}
            <p>Waiting for other players to join...</p>
            {% endif %}

            {% if game["state"] in ["selection_phase", "turn_phase"] %}
            <ul>
                <li><a href="https://www.fgbradleys.com/rules/rules2/Citadels-rules.pdf" target="_blank">Rules</a></li>
                <li><a href="https://images-cdn.fantasyflightgames.com/ffg_content/Citadels/support/citadels-faq.pdf" target="_blank">FAQ / rulings</a></li>
            </ul>
            {% endif %}

            {% if game["state"] == "finished" %}
            <p><strong>The winners are</strong>:</p>
            <ul>
                {% for name in winners %}
                <li>{{ name }} with a score of {{ highest_score }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="vertical-line"></div>

        <div class="cards-display">
            {% for pic in game["removed_character_pics"] %}
            <img src="/static/images/characters/{{pic}}" alt="{{ pic }}" class="cards-img" title="{{ pic }}"/>
            {% endfor %}
        </div>

        {% if player_drawn_card_pics %}
        <div class="vertical-line"></div>

        <p>Drawn cards: </p>

        <div class="cards-display">
            {% for pic in player_drawn_card_pics %}
            <img src="/static/images/districts/{{pic}}" alt="{{ pic }}" class="cards-img" title="{{ pic }}"/>
            {% endfor %}
        </div>
        {% endif %}

        {% if game["log"] %}
        <div class="vertical-line"></div>

        <textarea class="scrollabletextbox" id="game_log">{{ game["log"] }}</textarea>
        {% endif %}
    </div>

    {% for player in players %}
    <hr>
    <div class="player-display {{ 'player-color' if player_uuid == player['uuid'] }}">
        <div class="player-display-properties">
            <p><strong>Seat</strong>: {{ player["seat"] }}</p>
            <p><strong>Score</strong>: {{ player["score"] }}</p>
            <p><strong>Name</strong>: {{ player["name"] }}</p>
            <p><strong>Coins</strong>: {{ player["coins"] }}</p>
            <p><strong>Crown</strong>: {{ player["crown"] }}</p>
            <p><strong>Protected</strong>: {{ player["protected"] }}</p>

            {% if player_uuid_select_expected == player["uuid"] and player_uuid != player["uuid"] %}
            <p><strong>Expected to select a character!</strong></p>
            {% endif %}

            {% if game["state"] == "selection_phase" and player["uuid"] == player_uuid and player["select_expected"] %}
            <form action="{{ url_for('select_character', game_uuid=game['uuid'], player_uuid=player_uuid, amount_players=game['amount_players'], player_crown=player['crown'], amount_removed_characters=amount_removed_characters) }}" method="post">
                <p>Pick a character for this round:</p>
                <select name="character-name">
                    {% for character in game['possible_characters'] %}
                    <option value="{{ character['name'] }}">{{ character['order'] }} - {{ character['name'] }}</option>
                    {% endfor %}
                </select>

                {% if game["amount_players"] == 2 and not player['crown'] or game["amount_players"] == 2 and amount_removed_characters > 1 %}
                <p>Pick a character to remove for this round:</p>
                <select name="character-remove">
                    {% for character in game['possible_characters'] %}
                    <option value="{{ character['name'] }}">{{ character['order'] }} - {{ character['name'] }}</option>
                    {% endfor %}
                </select>
                {% endif %}

                <button type="submit">Select</button>
            </form>
            {% endif %}

            {% if game["state"] == "turn_phase" and player["uuid"] == player_uuid and game["character_turn"] == player["current_character"]["name"] %}

            {% if not player["current_character"]["income_received"] and not player["drawn_cards"] %}
            <form action="{{ url_for('receive_income', game_uuid=game['uuid'], player_uuid=player_uuid) }}" method="post">
                <p>Receive income:</p>
                <select name="income-type">
                    <option value="coins">2 coins</option>
                    {% if not "library" in player_buildings and not "observatory" in player_buildings %}
                    <option value="cards">2 cards and keep 1</option>
                    {% endif %}

                    {% if not "library" in player_buildings and "observatory" in player_buildings %}
                    <option value="cards">3 cards and keep 1</option>
                    {% endif %}

                    {% if "library" in player_buildings and not "observatory" in player_buildings %}
                    <option value="cards">2 cards and keep 2</option>
                    {% endif %}

                    {% if "library" in player_buildings and "observatory" in player_buildings %}
                    <option value="cards">3 cards and keep 2</option>
                    {% endif %}
                </select>
                <button type="submit">Receive</button>
            </form>
            {% endif %}

            {% if player["drawn_cards"] %}
            <form action="{{ url_for('keep_card', game_uuid=game['uuid'], player_uuid=player_uuid) }}" method="post">
                <p>Pick which card you want to keep:</p>
                <select name="card-keep">
                    {% for name in player_drawn_card_names %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>

                {% if "library" in player_buildings %}
                <p>You can keep an extra card:</p>
                <select name="card-keep-extra">
                    {% for name in player_drawn_card_names %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                {% endif %}

                <button type="submit">Keep</button>
            </form>
            {% endif %}

            {% if player["current_character"]["income_received"] %}
            <form action="{{ url_for('end_turn', game_uuid=game['uuid'], player_uuid=player_uuid) }}" method="post">
                <div class="home-button">
                    <input type="submit" name="end_turn" value="End turn" class="game-buttons"/>
                </div>
            </form>
            {% endif %}

            {% if player["current_character"]["income_received"] and player["current_character"]["built"] < building_limit and player['cards'] %}
            <form action="{{ url_for('build_district', game_uuid=game['uuid'], player_uuid=player_uuid, player_buildings=player_buildings) }}" method="post">
                <p>Pick which district you want to build:</p>
                <select name="district-name">
                    {% for card in player['cards'] %}
                    <option value="{{ card['name'] }}">{{ card['name'] }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Build</button>
            </form>
            {% endif %}

            {% if not player["current_character"]["ability_used"] and not player["current_character"]["name"] in ["king", "bishop", "merchant", "architect"] %}
            <form action="{{ url_for('use_main_character_ability', game_uuid=game['uuid'], player_uuid=player_uuid, current_character=player['current_character']['name']) }}" method="post">
                {% if player["current_character"]["name"] in ["assassin", "thief"] %}
                <p>On which character do you want to use your ability?</p>
                <select name="character-name">
                    {% for character in possible_characters_to_assassinate_or_rob %}
                    {% if character['name'] not in player_characters %}
                    <option value="{{ character['name'] }}">{{ character['order'] }} - {{ character['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                {% endif %}

                {% if player["current_character"]["name"] == "magician" %}
                <p>With whom do you want to trade cards?</p>
                <select name="player-uuid">
                    {% for player in players %}
                    {% if player["uuid"] != player_uuid %}
                    <option value="{{ player['uuid'] }}">{{ player['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <p>Leave unmarked if you want to trade with a player instead of deck:</p>
                {% for index in range(player["card_names_length"]) %}
                <div>
                    <input type="checkbox" value="{{ player['card_names'][index] }}" name="card-name" id="{{ player['card_names'][index] }}-{{ index }}">
                    <label for="{{ player['card_names'][index] }}-{{ index }}">{{ player['card_names'][index] }}</label>
                </div>
                {% endfor %}
                {% endif %}

                {% if player["current_character"]["name"] == "warlord" %}
                <p>On which player and district do you want to use your ability?</p>
                <select name="player-district">
                    {% for player in players %}
                    {% if not player["protected"] %}
                    {% for building in player["buildings"] %}
                    <option value="{{ player['uuid'] }}|{{ building['name'] }}">{{ player['name'] }} - {{ building['name'] }}</option>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </select>
                {% endif %}

                <div>
                    <button type="submit">Use main ability</button>
                </div>
            </form>
            {% endif %}

            {% if player["current_character"]["name"] in characters_secondary_ability and not player["current_character"]["ability_additional_income_used"] %}
            <form action="{{ url_for('use_secondary_character_ability', game_uuid=game['uuid'], player_uuid=player_uuid) }}" method="post">
                <p>Use ability for extra income?</p>
                <button type="submit">Use second ability</button>
            </form>
            {% endif %}

            {% if "smithy" in player_buildings and not smithy_ability_used %}
            <form action="{{ url_for('use_district_ability', game_uuid=game['uuid'], player_uuid=player_uuid, district='smithy', player_buildings=player_buildings) }}" method="post">
                <p>Do you want to pay 3 coins to draw 2 cards?</p>
                <button type="submit">Use smithy</button>
            </form>
            {% endif %}

            {% if "laboratory" in player_buildings and not laboratory_ability_used %}
            <form action="{{ url_for('use_district_ability', game_uuid=game['uuid'], player_uuid=player_uuid, district='laboratory', player_buildings=player_buildings) }}" method="post">
                <p>Do you want to discard a card to receive one coin?</p>
                <select name="district-hand">
                    {% for card in player["cards"] %}
                    <option value="{{ card['name'] }}">{{ card['name'] }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Use laboratory</button>
            </form>
            {% endif %}

            {% endif %}
        </div>

        <div class="vertical-line"></div>

        <div class="cards-display">
            {% for pic in player["character_pics"] %}
            <img src="/static/images/characters/{{pic}}" alt="{{ pic }}" class="cards-img" title="{{ pic }}"/>
            {% endfor %}
        </div>

        <div class="vertical-line"></div>

        <div class="cards-display">
            {% for pic in player["card_pics"] %}
            <img src="/static/images/districts/{{pic}}" alt="{{ pic }}" class="cards-img" title="{{ pic }}"/>
            {% endfor %}
        </div>

        <div class="vertical-line"></div>

        <div class="cards-display">
            {% for pic in player["building_pics"] %}
            <img src="/static/images/districts/{{pic}}" alt="{{ pic }}" class="cards-img" title="{{ pic }}"/>
            {% endfor %}
        </div>
        <div class="vertical"></div>
    </div>

    {% endfor %}
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>