<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="game-display">
    {% for player in players %}

    <div class="player-display">

        <div class="player-display-properties">
            <p><strong>Name</strong>: {{ player["name"] }}</p>
            <p><strong>Coins</strong>: {{ player["coins"] }}</p>
            <p><strong>King</strong>: {{ player["king"] }}</p>
            <p><strong>Protected</strong>: {{ player["protected"] }}</p>
            <p><strong>Score</strong>: {{ player["score"] }}</p>
        </div>

        <div class="vertical-line"></div>

        <div class="cards-display">
            {% for pic in pics %}
            <img src="/static/images/characters/{{pic}}" alt="{{ pic }}" class="cards-img"/>
            {% endfor %}
        </div>

        <div class="vertical"></div>
    </div>


    {% endfor %}

</div>
</body>
</html>